<?xml version="1.0" ?>
<model>
  <name>forest_canopy</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Project SUTRA Team</name>
    <email>sutra@defence.gov.in</email>
  </author>
  <description>
    Authentic 3D Western Ghats Forest Canopy & Mountain Ridge Search World converted from Blender.
    Features winding dirt trail, 4-man military tactical fireteam, and tactical vehicle.
  </description>
</model>
