<?xml version="1.0"?>
<model>
  <name>forest_canopy</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author><name>Project SUTRA Tech Lead Nikhil</name></author>
  <description>Dense Mountain Forest Canopy SAR Environment with Scots Pines, Jacarandas & Concealed Survivors</description>
</model>
