<?xml version="1.0"?>
<model>
  <name>sutra_uav_standard</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Project SUTRA Tech Lead (Nikhil)</name>
    <email>nikhil@sutra.ai</email>
  </author>

  <description>
    Project SUTRA Standard 500-class Tactical Swarm UAV with complete 9-DOF Avionics, 3D GPU LiDAR, Downward Laser Altimeter, Barometer, Magnetometer, NavSat GNSS, and Dual Optical+Thermal Gimbal.
  </description>
</model>
