<?xml version="1.0"?>
<model>
  <name>human_balcony_caller</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>SUTRA Autonomous Systems</name>
    <email>sutra@disaster-response.org</email>
  </author>
  <description>Humanoid survivor leaning over balcony calling to rescue boat</description>
</model>
