<?xml version="1.0"?>
<model>
  <name>human_water_survivor</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>SUTRA Autonomous Systems</name>
    <email>sutra@disaster-response.org</email>
  </author>
  <description>Humanoid disaster survivor treading floodwater with life vest</description>
</model>
